#gameCanvas{
    display: block;
    background: skyblue;
}

body {
    margin: 0;
    display: flex; /*serve per organizzare la pagina in maniera più semplice */
    justify-content: center;
    align-items: center;
    height: 100vh; /*occupa il 100% di altezza in altezza*/
    overflow: hidden;
}

.rettangolo{
    position: absolute;
    top: 15px;
    left: 15px;

    background: white;
    border: 3px solid black;

    padding: 8px 12px; /* spazio tra un elemento e un altro */
    font-family: Arial;
    font-size: 16px;

    display: block; /* fisso */
}

.produttori1 {
    position: fixed; /* anche se scrolli l'elemento rimane lì*/
    bottom: 10px;
    left: 10px;

}

.produttori {
    background: aqua;
    border: 3px solid black;

    font-family: Arial;
    font-size: 16px;
}

.produttori th,
.produttori td {
    border: 2px solid black;
    padding: 8px 12px;
    text-align: center;
}

/* 
.nuvola_grande{
    width: 60px;
    height: 40px;
    background: white;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    box-shadow:  -spostamento sx-dx; spostamento su-giù; sfocatura-
        30px 0px 0 white,
        120px -20px 0 white,
        30px -20px 0 white,
        70px -40px 0 white, 
        150px 0px 0 white,
        100px 0px 0 white,
        120px 0px 0 white,
        70px -10px 0 white,
        60px 0px 0 white,
        80px 0px 0 white;
    }

 */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* rettangolo grande trasparente */
  display: flex;
  justify-content: center;
  align-items: center; /* tutti gli elementi vengono messi al centro */
}


#GAME_OVER{
    text-align: center;
    color: red;
    font-family: Arial;
    font-size: 23px;
}

#punteggio{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    height: 15px;
}

#record{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    height: 15px;

}
.menu-box {
    width: 220px;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px; /* angoli curvi */
    border: 2px solid black;
}

.btn {
    height: 40px;
    background: silver;
    border: 1px solid black;
    cursor: pointer; /* da cursore a puntatore */
    font-size: 18px;
    transition: 0.2s;/* cambio di "colore" se c'è il puntatore sopra*/
}

.btn:hover {
    background: #ddd;
    transform: scale(1.03);
}

.nascosto{
    display: none;
}

.pausa{
    font-family: Arial;
    text-align: center;
    font-size: 40px;
}

#erba{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenitore-gioco {
    position: relative;
    width: 800px;
    margin:auto; /*gestisce autonomamente lo spazio attorno a un elemento */
}

.sfondo {
    position: fixed;
    inset: 0; /* lo attacca a tutti i lati, sarebbe come "top: 0-right: 0-bottom: 0-left: 0;" */

    background-image: url("../img/muro.webp");
    background-repeat: repeat;
    background-size: 55px 55px;

    z-index: 0;
}