body {
    margin: 0;
    background: skyblue;
    display: flex;
    justify-content: center;
}

#rettangolo{
    position: absolute;
    top: 15px;
    left: 15px;

    background: white;
    border: 3px solid black;

    padding: 8px 12px;
    font-family: Arial;
    font-size: 16px;

    display: block; /* fisso */
}

#produttore1{
    position: absolute;
    top: 513px;
    left: 15px;
    
    background: aqua;
    border: 3px solid black;

    padding: 8px 12px;
    font-family: Arial;
    font-size: 16px;

    display: block;
}

#produttore2{
    position: absolute;
    top: 550px;
    left: 15px;
    width: 122px;
    
    background: aqua;
    border: 3px solid black;

    padding: 8px 12px;
    font-family: Arial;
    font-size: 16px;

    display: block;
}

#produttore{
    position: absolute;
    top: 476px;
    left: 15px;
    width: 122px;
    
    background: deepskyblue;
    border: 3px solid black;

    padding: 8px 12px;
    font-family: Arial;
    font-size: 16px;

    display: block;
}
